Screen {
    layout: horizontal;
    background: #000000;
    color: #e5e7eb;
}

#layout {
    height: 100%;
    width: 100%;
}

#main {
    width: 1fr;
    height: 100%;
    padding: 0 1;
}

#chat-log {
    height: 1fr;
    background: #000000;
    border: none;
    padding: 0 1;
}

#chat-input {
    height: 3;
    margin-top: 1;
    border: heavy #ef4444;
    background: #050505;
    color: #f9fafb;
    padding: 0 1;
}

#sidebar {
    width: 24;
    height: 100%;
    padding: 0 1 0 0;
}

#sidebar-title {
    background: #111111;
    color: #f87171;
    padding: 0 1;
    text-align: center;
    border: none;
    text-style: bold;
}

#user-list {
    height: 1fr;
    background: #000000;
    border: none;
    padding: 0 1;
}

.status-good {
    color: #22c55e;
}

.status-warn {
    color: #ef4444;
}

.status-info {
    color: #f87171;
}

.timestamp {
    color: #6b7280;
}
